@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

:root {
    --bleu-neon: #00d9ff;
    --bleu-fonce: #0a192f;
    --blanc: #ffffff;
    --argent-metal: #a0aab4;
    --fond-noir: #080d1a;
}

/* Corps de la page */
body {
    background-color: var(--fond-noir);
    color: var(--blanc);
    line-height: 1.6;
}


.news-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.news-item {
    background-color: var(--bleu-fonce);
    padding: 20px;
    border-radius: 10px;
    width: calc(33.333% - 40px); 
    box-shadow: 0 0 15px rgba(0, 173, 239, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.news-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 30px var(--bleu-neon);
}

.news-item h2 {
    color: var(--blanc);
    font-size: 1.5em;
    margin-bottom: 10px;
}

.news-item p {
    color: var(--argent-metal);
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 15px;
}

.news-item a {
    color: var(--bleu-neon);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.news-item a:hover {
    color: var(--blanc);
    text-decoration: underline;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2em;
    color: var(--blanc);
    background: var(--bleu-neon);
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: #0088cc;
}


footer {
    text-align: center;
    padding: 20px;
    background: var(--bleu-fonce);
    color: var(--argent-metal);
    font-size: 1em;
}
